<!-- <link rel="stylesheet" href="/assets/fa/css/font-awesome.min.css" />

<h1>HEllo</h1> -->
<link rel="stylesheet" href="/assets/fa/css/font-awesome.min.css" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a
    class="navbar-brand"
    style="font-family: Bahnschrift; padding: 10px"
    href="#"
    >With You</a
  >
  <div class="navbar-nav flex-row ml-auto">
    <li class="nav-item">
      <a
        class="nav-item nav-link"
        routerLink="/userprofile"
        routerLinkActive="active"
        style="font-family: Bahnschrift; margin-right: 5px"
        >Profile</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-item nav-link"
        routerLink="/login"
        (click)="logout()"
        style="font-family: Bahnschrift; margin-right: 5px"
        >Logout</a
      >
    </li>
  </div>
</nav>
<div class="body">
  <div class="container container-fluid">
    <div class="map-container d-flex justify-content-center align-items-center">
      <div class="inside">
        <div class="d-flex flex-column align-items-center">
          <div
            class="sos-button d-flex align-items-center justify-content-center"
            (click)="sendSOS()"
          >
            <h4
              class="text-center font-weight-bold"
              style="font-family: Bahnschrift"
            >
              SOS
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="row">
        <div class="col-md mb-3">
          <div class="feature card p-4 d-flex flex-row" (click)="fakeCall()">
            <div style="font-family: Bahnschrift">
              <h3>Call me now</h3>
              <p class="description">Get a call to your number</p>
            </div>
            <div></div>
          </div>
        </div>
        <div class="col-md mb-3">
          <div class="feature card p-4 d-flex flex-row">
            <div style="font-family: Bahnschrift">
              <h3>Share My Location</h3>
              <p class="description">Share my location with my contacts</p>
            </div>
            <div>
              <i class="fa map-marker-alt" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
